.about__container{
    /* display:grid; */
    /* grid-template-columns: 35% 50%; */
    /* gap:15%; */
    align-items: center;
}

.about__me{
    width: 100%;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary),
        transparent
    );
    display:grid;
    place-items: center;
}

.about__me__image{
    border-radius: 2rem;
    overflow:hidden;
    transform: rotate(10deg);
    transition:var(--transition)
}

.about__me__image:hover{
    transform:rotate(0deg);
}

.about__me__image img{
    width: 100%;
    height: 100%;
}

.about__content{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.about__cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1.5rem;
    margin:0.5rem;
}

.about__card{
    background:var(--color-bg);
    border:1px solid transparent;
    border-radius:1rem;
    padding:2rem;
    text-align: center;
    transition:var(--transition)
}

.about__card:hover{
    background:var(--color-primary-variant);
    box-shadow:0 0.5rem 1rem rgba(0,0,0,0.2);
    border-color:var(--color-primary);
    cursor: default;
}

.about__card:hover .about__icon{
    color:white;
}

.about__card:hover h5{
    color:white;
}

.about__card:hover small{
    color:var(--color-primary);
}

.about__icon{
    font-size: 4rem;
    color: var(--color-primary);
    margin:1rem;
}

.about__card h5{
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--color-primary);
    margin:0;
}

.about__card small{
    font-size:0.8rem;
    font-weight: 400;
    color:var(--color-light);
}

.about__content p{
    margin-top:2rem;
    text-align:center;
    justify-content:center;
    line-height:2rem;
    font-size:1.5rem;
}

.about__content a{
    margin-top:2rem;
    padding:1.5rem 2rem 1.5rem 2rem;
    font-weight:600;
    font-size:1.5rem;
}

/*===========Medium Screen================*/
@media screen and (max-width:1024px){
    .about__container{
        /* background:red; */
        grid-template-columns: 1fr;
        justify-content:center;
    }
    .about__me{
        width: 50%;
        margin:2rem auto 4rem;
        justify-content:center;
    }
    .about__cards{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap:3rem;
        margin:0.5rem;
        padding:2rem;
        justify-content:center;
    }
    .about__content p{
        text-align:center;
        justify-content:center;
        font-size:1.25rem;
    }
    .about__content a{
        margin-top:1.5rem;
        padding:0.75rem 1rem 0.75rem 1rem;
        font-weight:400;
        font-size:1.25rem;
    }
}
/*===========Small Screen================*/
@media screen and (max-width:600px){
    
    .about__cards{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        gap:3rem;
        margin:0.5rem;
        padding:2rem;
        justify-content:center;
    }
    .about__content p{
        display:none;
        font-size:1rem;
    }
    .about__content a{
        margin-top:1.5rem;
        padding:0.75rem 1rem 0.75rem 1rem;
        font-weight:500;
        font-size:1rem;
    }
}


